h2 {
    font-size: 28.5px;
    color: whitesmoke;
    font-weight: bold;
}

p {
    color: white;
    font-style: italic;
    font-size: 15px;
}

span {
    color: black;
}

/* Séparation */
.my-4{
    width:22px;
    height:5px;
    background-color: white;
    border-top:0px;
    border-right:0px;
    border-left:0px;
    border-bottom: 0x solid white;
}

/* Logo navbar */
#logo {
    max-width: 50%;
    background-color: white;
    position: static;
}
/* Position du logo */
#navbar {
    margin: -13px;
}

/* contenu col 1*/
#col1 {
    
    background-image: linear-gradient(transparent, rgba(0,0,0,2)), url(images/image-2-egae-926x1800.jpg);
    background-size: cover;
   height: 100vh; 
    z-index: 1;
}

#contenu1 {
    height: 75vh;
}

 /*********************Responsive*************************/

  
 @media all and (max-width:490px){
    
    #col1 , #col2 , #col3 {
        height: 500px;
    }

    .navbar{
        background-color: white;
        height: 20%;
        width: 500px;
        margin-left: -40px;
    }

    .navbar img{
        padding:0;
        width:250px;
        height: 80px;
    }

    #logo {
        margin-left: 40px;
        width: 50%%;
    }

  }

/* contenu col 2 */
#col2 {
    background-image: linear-gradient(transparent, rgba(0,0,0,2)), url(images/image-1-egae-1000x1800.jpg);
    background-size: cover;
    height: 100vh;
}

/* contenu col 3*/
#col3 {
    background-image: linear-gradient(transparent, rgba(0,0,0,2)), url(images/Asite_couv21.jpg);
    background-size: cover;
    height: 100vh;
}

/* contenu col 4*/
.hungryfeed_items{
    overflow: auto;
    height: 100vh;
}

